body {
	background-color: black;
	color: white;
    font-family: monospace;
}

table,
th,
td {
	border: 4px solid;
	border-collapse: collapse;
	font-size: 22pt;
	padding: 10px;
	text-align: center;
}
